<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>FORGOT PASSWORD</title>
  <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="box">
  <form autocomplete="off">
    <h2>Forgot Password</h2>
    <div class="inputBox">
      <br>
      <br>
      <input type="text" required="required">
      <span>Email Address</span>
      <i></i>
    </div>
    <div class="links">
      <a href="/showLogin">Log in</a>
    </div>
    <button type="submit" value="Enviar" >Enviar</button>
  </form>
</div>
</body>
</html>