<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="/static/js/eyehide.js"></script>
</head>
<body>
<div class="box">
    <form id="LogIn" action="/login" method="post">
        <h2>Log in</h2>
        <div class="inputBox">
            <input type="text" name="username" id="username" required="required">
            <span>Username</span>
            <i></i>
        </div>
        <div class="inputBox">
            <input type="password" name="passwordInput" id="passwordInput" required="required">
            <span>Password</span>
            <img src="/static/img/hide.png" id="eyeIcon" onclick="togglePasswordVisibility()">
            <i></i>
        </div>
        <div class="links">
            <a href="/showForgotPass">Forgot Password ?</a>
            <a href="/showSignUp">Sign up</a>
        </div>
        <input type="hidden" name="_csrf" value="{{tokenCSRF}}"/>
        <button type="submit" value="Enviar" >Enviar</button>
    </form>
</div>
</body>
</html>