<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>SIGN UP</title>
  <script src="/static/js/eyehide.js"></script>
  <link rel="stylesheet" href="/static/css/sign_up.css">
</head>
<body>
<div class="box">
  <form  action="/formSignUp" id="SignUp">
    <h2>Sign up</h2>

    <div class="two">
      <div class="inputBox2">
        <input type="text" name="Username" id="Username" required="required">
        <span>Username</span>
        <i></i>
      </div>
      <div class="inputBox2">
        <input type="text" name="Province" id="Province" required="required">
        <span>Provincia</span>
        <i></i>
      </div>
    </div>
    <div class="two">
      <div class="inputBox2">
        <input type="text" name="ips" id="ips" required="required">
        <span>IPS</span>
        <i></i>
      </div>
      <div class="inputBox2">
        <input type="number" name="NumberPhone" id="NumberPhone" required="required">
        <span>Number Phone</span>
        <i></i>
      </div>
    </div>
    <div class="two">
      <div class="inputBox2">
        <input type="number" name="TotalEmails" id="TotalEmails" required="required">
        <span>Emails Totales</span>
        <i></i>
      </div>
      <div class="inputBox2">
        <input type="number" name="PhishingEmails" id="PhishingEmails" required="required">
        <span>Emails Phishing</span>
        <i></i>
      </div>
    </div>
    <div class="two">
     <div class="inputBox2">
        <input type="number" name="ClickEmails" id="ClickEmails" required="required">
        <span>Emails Clicados</span>
        <i></i>
      </div>
    </div>
    <div class="two">
     <div class="inputBox2">
        <input type="text" name="Dates" id="Dates" required="required">
        <span>Fecha</span>
        <i></i>
      </div>
      <div class="inputBox2">
        <input type="number" name="Permissions" id="Permissions" required="required">
        <span>Permisos</span>
        <i></i>
      </div>
    </div>
    <div class="two">
      <div class="inputBox2">
        <input type="password" name="passwordInput" id="passwordInput" required="required" oninput="PassRequirements()">
        <span>Password</span>
        <img src="/static/img/hide.png" id="eyeIcon" onclick="togglePasswordVisibility()">
        <i></i>
      </div>
      <div class="inputBox2">
        <input type="password" name="passwordInputTwo" id="passwordInputTwo" required="required">
        <span>Confirm Pass</span>
        <img src="/static/img/hide.png" id="eyeIconTwo" onclick="togglePasswordVisibilityTwo()">
        <i></i>
      </div>
    </div>

    <div class="links">
      <a href="/showLogin">Log In</a>
    </div>
    <div class="two">
      <button type="submit" value="Enviar" >Enviar</button>

      <div class="requirements-container">
        <div id="requirements0">
          <span>Minimo 8 caracteres</span>
        </div>
        <div id="requirements1">
          <span>Al menos un caracter especial</span>
        </div>
      </div>
    </div>

  </form>
</div>
</body>
</html>