<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Usuario</title>
</head>
<body>
    <h1>Insertar Usuario</h1>
    <form action="/esCriticoOno" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre"><br><br>
        <label for="telefono">Teléfono:</label>
        <input type="text" id="telefono" name="telefono"><br><br>
        <label for="provincia">Provincia:</label>
        <input type="text" id="provincia" name="provincia"><br><br>
        <label for="permisos">Permisos:</label>
        <input type="number" id="permisos" name="permisos"><br><br>
        <label for="total_emails">Total de Emails Enviados:</label>
        <input type="number" id="total_emails" name="total_emails"><br><br>
        <label for="phishing_emails">Total de Emails con Phishing:</label>
        <input type="number" id="phishing_emails" name="phishing_emails"><br><br>
        <label for="clicados_emails">Total de Emails Clicados:</label>
        <input type="number" id="clicados_emails" name="clicados_emails"><br><br>
        <label for="metodo">Método de IA:</label>
        <select id="metodo" name="metodo">
            <option value="regresion_lineal">Regresión Lineal</option>
            <option value="decision_tree">Árbol de Decisión</option>
            <option value="random_forest">Random Forest</option>
        </select>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>




