<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Control</title>
</head>
<body>
    <h1>Bienvenido al Panel de Control</h1>
    <ul>
        <li><a href="/usuarios_criticos">Usuarios Críticos</a></li>
        <li><a href="/showLogin">Log In</a></li>
        <li><a href="/paginas_desactualizadas">Páginas Desactualizadas</a></li>
        <li><a href="/lastVulnerabilities">Últimas 10 vulnerabilidades</a></li>
    </ul>

</body>
</html>
